# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Next.js
.next/
out/

# NestJS
dist/

# Prisma
prisma/migrations/

# Env files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs/
*.log
